/* 
COLORS:
    #FEFFDE accentish
    #DDFFBC light green
    #91C788 green
    #52734D dark green

*/

.frontpage-grid {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.header-grid-layout {
    display: grid;
    background-color: #91C788;
    border-radius: 20px;

    height: 6rem;

    grid-template-columns: 2fr 3fr 50fr 2fr;
    column-gap: 1rem;
    grid-column: 2;
}

.side-menu {
    padding-top: 1rem;
    padding-left: 1rem;
}

.retroxchange-logo {
    background: transparent;
    width: 5.5rem;
    height: auto;

    padding: 0.3rem;
    grid-column: 3;
}

.background {
    background-color: #FEFFDE;
}

.homepage-grid {
    display: grid;
}

.search-bar-placement {
    grid-column: 3;
    padding-right: 2rem;
}

.search-bar-temp {
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 3.5rem;
    margin-top: 1.3rem;

    justify-content: space-between;
}

.search-bar-temp > svg {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}

.login-icon > svg {
    padding-right: 1rem;
    padding-top: 1rem;
}