/* 
COLORS:
    #FEFFDE accentish
    #DDFFBC light green
    #91C788 green
    #52734D dark green

*/

.frontpage-grid {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 28fr;
}


.header-grid-layout {
    display: grid;
    background-color: #91C788;

    height: 4rem;

    grid-template-columns: 2fr 2fr 48fr 2fr;
    grid-template-rows: 4fr 2fr;
    column-gap: 0.2rem;
    grid-column: 2;
}

.side-menu {
    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 8px;
    padding-bottom: 8px;
}

.side-menu:hover {
    display: flex;
    justify-content: center;
    align-self: center;

    background-color: #52734D;
    flex: 1;
}

.retroxchange-logo {
    width: 3.5rem;
    height: auto;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-self: center;
}

.background {
    background-color: #FEFFDE;
}

.homepage-grid {
    display: grid;
}

.search-bar-placement {
    display: flex;
    justify-content: center;
    align-self: center;
}

.search-bar-temp {
    display: flex;
    background-color: white;
    flex: 1;

    border-radius: 10px;
    height: 2rem;

    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.login-icon {
    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 8px;
    padding-bottom: 8px;
}

.login-icon:hover {
    display: flex;
    justify-content: center;
    align-self: center;

    background-color: #52734D;
}

.navigation-bar-gridbox {
    display: flex;
    background-color: #DDFFBC;
    grid-column: 1 / span 4;

    justify-content: center;
    align-self: center;
    flex: 1;
}

.navigation-bar {
    display: flex;

}

.navigation-bar > div > a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation-bar > div > a:active {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-item:hover {
    background-color: #91C788;
}

.about-us-body {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 1fr 15fr 10fr 4fr 1fr 5fr 1fr;

    gap: 1rem;
}

.about-us-logo {
    display: flex;
    grid-column: 2 / span 2;
    grid-row: 2;

    justify-content: center;
    align-items: center;
}

.about-us-logo > img {
    width: 20rem;
    height: auto;
}

.about-us-company-story {
    display: flex;

    grid-column: 2;
    grid-row: 3;

    justify-content: center;
    align-items: center;

}

.about-us-company-values {
    display: flex;

    grid-column: 3;
    grid-row: 3;

    justify-content: center;
    align-items: center;
}

.team-heading {
    display: flex;

    justify-content: center;
    align-items: center;

    grid-column: 2 / span 2;
    grid-row: 4;
}

.about-us-team-members {
    display: flex;
    
    grid-column: 2 / span 2;
    grid-row: 5 / span 2;

    justify-content: space-between;
}

.team-member {
    display: flex;
    padding: 1rem;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.about-us-box-style {
    background-color: white;
    border-radius: 10px;
}

.footer-content {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}
