/* 
COLORS:
    #FEFFDE accentish
    #DDFFBC light green
    #91C788 green
    #52734D dark green

*/

* {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:visited {
    color: #000000;
}

.background {
    background-color: #feffde;
}

.page-layout {
    display: grid;

    grid-template-rows: 1fr 9.7fr 1fr;
}

.about-us-page-layout {
    display: grid;

    grid-template-rows: 1fr 10fr 1fr;
}

.sidemenu {
    display:none;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 12%;
    left: 0;
    background-color: #91C788;
    overflow-x: hidden;
    padding-top: 20px;
    transform: translateX(-200%);
    transition: transform 0.3s ease-in-out;
    display: block;
    margin-left: 0.52rem;
  }

  .sidemenu.show {
    transform: translateX(0);
  }
  
  .sidemenu a, .sidemenu-dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .sidemenu a:hover, .sidemenu-dropdown-btn:hover {
    color:#DDFFBC;
  }

  .sidemenu a:hover, .sidemenu-dropdown-container:hover{
    color:#63995b;
  }
  
  .active {
    background-color: #63995b;
    color:#DDFFBC;
  }
  
  .sidemenu-dropdown-container {
    display: none;
    background-color: #DDFFBC;
    padding-left: 8px;
  }

/*admin pages*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #DDFFBC;
}

.admin-title{
    background-color: #DDFFBC;
    text-align: center;
}

.admin-addbtn{
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #91C788;
    color: black;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.admin-addbtn:hover{
    background-color:#DDFFBC;
    transform: scale(1.2);
}

.admin-addform {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px; 
    margin: 0 auto;
    padding: 50px;
    background: #DDFFBC;
    border-radius: 8px;
}

.admin-addform label {
    font-weight: bold;
    margin-top: 10px;
}

.admin-addform input,
.admin-addform select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.admin-addform input[type="submit"] {
    background: #91C788;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s, transform 0.3s;
}

.admin-addform input[type="file"] {
    background: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.admin-addform input[type="submit"]:hover {
    background: #DDFFBC;
    transform: scale(1.05);
}

.contact-us-page-layout {
    display: grid;

    grid-template-rows: 1fr 9.7fr 1fr;
}

.games-page-layout {
    display: grid;

    grid-template-rows: 1fr 9.7fr 1fr;
}

.login-page-layout {
    display: grid;

    grid-template-rows: 1fr 9.7fr 1fr;
}

.signup-page-layout {
    display: grid;

    grid-template-rows: 1fr 8.7fr 1fr 1fr;
}

.basket-page-layout {
    display: grid;

    grid-template-rows: 1fr 8.7fr 1fr 1fr;
}

.checkout-page-layout {
    display: grid;

    grid-template-rows: 1fr 8.7fr 1fr 1fr;
}


.checkout-title {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: 1;
}

.checkout-section {
    display: flex;

    justify-content: center;
    align-items: center;

    grid-row: 2;
}

.checkout-section input {
    display: flex;
    flex-wrap: wrap;

    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;

    font-size: 120%;
}


.previous-order-page-layout {
    display: grid;

    grid-template-rows: 1fr 8.7fr 1fr 1fr;
}

.signup-header {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: 1;
}

.signup-form {
    display: flex;

    justify-content: center;
    align-items: center;

    grid-row: 2;
}

.signup-form input {
    display: flex;
    flex-wrap: wrap;

    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;

    font-size: 120%;
}

.contact-us-form input {
    display: flex;
    flex-wrap: wrap;

    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;

    font-size: 120%;
}

.contact-us-header {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: 1;
}

.contact-us-form {
    display: flex;

    justify-content: center;
    align-items: center;
}

.contact-us-form textarea {
    display: flex;
    flex-wrap: wrap;
    width: 97%;

    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;

    resize: none;
    font-size: 120%;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: 1;
}

.login-form {
    display: flex;

    justify-content: center;
    align-items: center;
}

.login-form input {
    display: flex;
    flex-wrap: wrap;

    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;

    font-size: 120%;
}

.account-option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;

}

.header-grid-layout {
    display: grid;
    background-color: #91c788;

    grid-template-columns: 1fr 3fr 50fr 2fr 2fr;
    grid-template-rows: 4.5fr 2fr;
    column-gap: 0.1rem;

    grid-row: 1;
}

.sidemenu-btn {
    background-color: #91c788;
    color: black;
    border: none;
    cursor: pointer;
}

.sidemenu-btn:hover,
.sidemenu-btn:focus {
    background-color: #52734d;
}

.dropdown-content,
.dropdown-content2,
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown-content2 a,
.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.dropdown-content2 {
    left: 100%;
    top: 0;
}

.dropdown-content3 {
    left: 100%;
    top: 0;
}

.retroxchange-logo {
    width: 3.5rem;
    height: auto;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-self: center;

    grid-row: 1;
    grid-column: 2;
}

.search-bar-placement {
    display: flex;
    justify-content: center;
    align-self: center;

    grid-row: 1;
    grid-column: 3;
}

.search-bar-background {
    display: flex;
    background-color: white;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;
    height: 2rem;

    padding: 0.5rem;
}

.search-bar-alignment {
    display: grid;

    grid-template-columns: 90fr 2fr;
    column-gap: 0.5rem;
}

.search-bar-input {
    display: flex;
    justify-content: left;

    grid-column: 1;
}

.search-bar-button {
    display: flex;
    grid-column: 2;
    justify-content: right;

    align-items: center;
}

.search-bar-input > input {
    background: none;
    border: none;
    outline: none;
    flex-grow: 1;
}

.search-bar-button > button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


.login-icon {
    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 12px;
    padding-bottom: 12px;

    grid-row: 1;
    grid-column: 5;
}

.basket-icon {
    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 16px;
    padding-bottom: 15px;

    grid-row: 1;
    grid-column: 4;
}

.basket-icon:hover {
    display: flex;
    justify-content: center;
    align-self: center;

    background-color: #52734d;

    grid-row: 1;
    grid-column: 4;
}

.login-icon:hover {
    display: flex;
    justify-content: center;
    align-self: center;

    background-color: #52734d;

    grid-row: 1;
    grid-column: 5;
}

.navigation-bar-flexbox {
    display: flex;
    background-color: #ddffbc;
    grid-column: 1 / span 5;

    justify-content: center;
    align-self: center;
    flex: 1;

    grid-row: 2;
    grid-column: 1 / span 5;
}

.navigation-bar {
    display: flex;
}

.navigation-bar > div > a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation-bar > div > a:active {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-item:hover {
    background-color: #91c788;
}

.about-us-body {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 1fr 10fr 8fr 2fr 1fr 5fr 1fr;

    gap: 1rem;
}

.about-us-logo {
    display: flex;
    grid-column: 2 / span 2;
    grid-row: 2;

    justify-content: center;
    align-items: center;
}

.about-us-logo > img {
    width: 25rem;
    height: auto;
}

.about-us-company-story {
    display: flex;

    grid-column: 2;
    grid-row: 3;

    justify-content: center;
    align-items: center;
}

.about-us-company-values {
    display: flex;

    grid-column: 3;
    grid-row: 3;

    justify-content: center;
    align-items: center;
}

.team-heading {
    display: flex;

    justify-content: center;
    align-items: center;

    grid-column: 2 / span 2;
    grid-row: 4;
}

.about-us-team-members {
    display: flex;

    grid-column: 2 / span 2;
    grid-row: 5 / span 2;

    justify-content: space-between;
}

.team-member {
    display: flex;
    padding: 1rem;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.about-us-box-style {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

/* Products */

.products {
    display: grid;
    background-color: #ddffbc;
    grid-row: 3;

    grid-template-rows: 10fr 40fr;
}

.product-section img {
    width: 200;
    height: 150px;
}

.product-category {
    display: flex;

    grid-row: 1;

    justify-content: center;
    align-items: center;
}
.pre-btn,
.nxt-btn {
    border: none;
    width: 2vw;
    height: 81%;
    position: absolute;
    display: flex;
    margin-top: 0;
    justify-content: left;
    align-items: center;
    background: #ddffbc;
    cursor: pointer;
    z-index: 8;
}

.pre-btn img,
.nxt-btn img {
    opacity: 20%;
    width: 20%;
    height: auto;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 100%;
}

.product-container {
    display: flex;
    grid-row: 2;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.product-section img {
    width: 200;
    height: 150px;
}

.product-image:hover {
    transform: scale(1.05);
}

.product-thumbnail {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.price {
    font-weight: 900;
    font-size: 20px;
    padding-top: 5px;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.contact-us {
    text-align: center;
    align-items: center;
    background-color: #ddffbc;
}
.login-form-section {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #ddffbc;
    position: absolute;
    padding-left: 25px;
    width: 100%;
}

.footer-grid-content {
    background-color: #ddffbc;
    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    grid-row: -1;
}

.footer-grid-content img {
    height: 30px;
    width: 30px;
}

footer > p {
    align-self: center;
    justify-content: center;
}
.navbar-item-login:hover {
    background-color: #ddffbc;
}
.push-elements {
    display: flex;
    flex: 0 0 auto;
    margin: 0 auto;
    flex-direction: column;
}
.input[type="button"],
input[type="submit"] {
    background-color: #ddffbc;
}
.input[type="button"],
input[type="submit"]:hover {
    background-color: #52734d;
}
.center-header {
    margin: 0 auto;
}
.center-form {
    margin: 0 auto;
}
.center-p {
    margin: 0 auto;
}

/* NO, this breaks grid, in many ways than one */
/* .body-form {
    background-color: #feffde;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
} */

/*Shopping Basket Page*/
.shopping-basket {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.shopping-basket h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

.shopping-basket p {
    font-size: 16;
    text-align: center;
    margin-bottom: 10px;
}

.shopping-basket-table th {
    padding: 20px;
    text-align: center;
    background-color: #91c788;
}

.shopping-basket-table td {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.basket-item {
    margin: 0 auto;
}

.shopping-basket-total {
    margin: 0 auto;
}
.shopping-basket-actions {
    margin: 0 auto;
}
.shopping-basket-actions button {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #91c788;
    color: black;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}
.shopping-basket-actions button:hover {
    background-color: #ddffbc;
    transform: scale(1.2);
}

.remove-button {
    background-color: red;
    cursor: pointer;
}
.remove-button:hover {
    transform: scale(1.1);
}

.shopping-basket-total {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ddffbc;
}

.shopping-basket-total p {
    font-size: 18px;
}
/*Shopping Basket Page*/

/*PreviousOrderPage*/
.previous-orders-section {
    padding: 20px;
    text-align: center;
}

.previous-orders-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.previous-orders-section p {
    font-size: 1rem;
    margin-bottom: 60px;
}

.order-details {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
}

.order-id {
    font-size: 0.7rem;
    color: black;
    top: 5px;
    left: 5px;
    position: absolute;
}

.p-game-title {
    font-size: 1.5rem;
    color: black;
}

.p-quantity {
    font-size: 1.2rem;
    color: black;
}

.order-date {
    font-size: 0.8rem;
    color: #d3d3d3;
}

.order-date1 {
    font-size: 0.8rem;
    color: #505050;
}

.order-date p {
    margin: 0;
    line-height: 1;
}

.p-game-price {
    font-size: 1.2rem;
    color: #91c788;
}

.p-game-image {
    width: 70px;
}

.p-game-image img {
    width: 100%;
}

.basket-button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #91c788;
    color: black;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.basket-button:hover {
    transform: scale(1.2);
}
.review-body{
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }
.review-container{
            max-width: 600px;
            margin: auto;
            background: green;
            padding: 20px;
            border-radius: 10px;
            
        }
.review{
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }
    
