/* 
COLORS:
    #FEFFDE accentish
    #DDFFBC light green
    #91C788 green
    #52734D dark green

*/

* {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.background {
    background-color: #FEFFDE;
}

.index-page-layout {
    display: grid;

    grid-template-rows: 4fr 30fr 30fr 50fr 50fr 10fr;
}

.header-grid-layout {
    display: grid;
    background-color: #91C788;

    grid-template-columns: 2fr 2fr 46fr 2fr 2fr;
    grid-template-rows: 4fr 2fr;
    column-gap: 0.2rem;

    grid-row: 1;
}

.side-menu {
    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 11px;
    padding-bottom: 11px;

    grid-row: 1;
    grid-column: 1;
}

.side-menu:hover {
    display: flex;
    justify-content: center;
    align-self: center;

    background-color: #52734D;
    flex: 1;
    grid-row: 1;
    grid-column: 1;
}

.retroxchange-logo {
    width: 3.5rem;
    height: auto;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-self: center;

    grid-row: 1;
    grid-column: 2;
}

.search-bar-placement {
    display: flex;
    justify-content: center;
    align-self: center;

    grid-row: 1;
    grid-column: 3;
}

.search-bar-temp {
    display: flex;
    background-color: white;
    flex: 1;

    border-radius: 10px;
    height: 2rem;

    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.login-icon {
    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 11px;
    padding-bottom: 11px;

    grid-row: 1;
    grid-column: 5;
}

.basket-icon {
    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 15px;
    padding-bottom: 15px;

    grid-row: 1;
    grid-column: 4;
}

.basket-icon:hover {
    display: flex;
    justify-content: center;
    align-self: center;

    background-color: #52734D;

    grid-row: 1;
    grid-column: 4;
}

.login-icon:hover {
    display: flex;
    justify-content: center;
    align-self: center;

    background-color: #52734D;

    grid-row: 1;
    grid-column: 5;
}

.navigation-bar-flexbox {
    display: flex;
    background-color: #DDFFBC;
    grid-column: 1 / span 5;

    justify-content: center;
    align-self: center;
    flex: 1;

    grid-row: 2;
    grid-column: 1 / span 5;
}

.navigation-bar {
    display: flex;
}

.navigation-bar > div > a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation-bar > div > a:active {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-item:hover {
    background-color: #91C788;
}

.about-us-body {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 1fr 10fr 8fr 2fr 1fr 5fr 1fr;

    gap: 1rem;
}

.about-us-logo {
    display: flex;
    grid-column: 2 / span 2;
    grid-row: 2;

    justify-content: center;
    align-items: center;
}

.about-us-logo > img {
    width: 25rem;
    height: auto;
}

.about-us-company-story {
    display: flex;

    grid-column: 2;
    grid-row: 3;

    justify-content: center;
    align-items: center;

}

.about-us-company-values {
    display: flex;

    grid-column: 3;
    grid-row: 3;

    justify-content: center;
    align-items: center;
}

.team-heading {
    display: flex;

    justify-content: center;
    align-items: center;

    grid-column: 2 / span 2;
    grid-row: 4;
}

.about-us-team-members {
    display: flex;
    
    grid-column: 2 / span 2;
    grid-row: 5 / span 2;

    justify-content: space-between;
}

.team-member {
    display: flex;
    padding: 1rem;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.about-us-box-style {
    background-color: white;
    border-radius: 10px;
}

.footer-content {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}


/* Mostly Viviene's Work, Heavily Edited by Igors */
.products {
    display: grid;
    background-color: #DDFFBC;
    grid-row: 3;

    grid-template-rows: 10fr 40fr;
}

.product-category {
    display: flex;

    grid-row: 1;

    justify-content: center;
    align-items: center;
}

.pre-btn {
    display: flex;
    justify-content: right;
    align-items: center;

    grid-column: 1;
    

    transform: rotate(180deg);
    border: none;
    background-color: #DDFFBC;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #91C788 100%); */
    cursor: pointer;
    z-index: 8;
    
}

.nxt-btn {
    display: flex;
    justify-content: right;
    align-items: center;

    grid-column: 1 / span -1;
    
    border: none;
    background-color: #DDFFBC;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #91C788 100%); */
    cursor: pointer;
    z-index: 8;

}

.pre-btn img,
.nxt-btn img {
    opacity: 20%;
    width: 20%;
    height: auto;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 100%;
}

.product-container {
    display: flex;
    grid-row: 2;

    justify-content: space-between;
    align-items: center;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.product-section img {
    width: 200;
    height: 150px;
}

.product-image:hover {
    transform: scale(1.05);
}

.product-thumbnail {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.price {
    font-weight: 900;
    font-size: 20px;
    padding-top: 10px;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.basket {
    width: 25px;
    height: 25px;
    background-color: #3ea74a;
    border-radius: 50%;
    border-color: #3ea74a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding-bottom: 10%;
    padding-bottom: 10%;
}

.product-brand {
    text-transform: uppercase;
    opacity: 60%;
}

.product-container::-webkit-scrollbar {
    display: none;
}
.table-display{
    width:200%
    
}
.product-title{
    text-align: center;
}
.contact-us{
    text-align: center;
    align-items: center;
    background-color: #DDFFBC;
}
.login-form-section{
    display:flex;
    align-items: center;
    margin: auto;
    background-color: #DDFFBC;
    position: absolute;
  padding-left: 25px;
  width:100%
    
}   


.footer-grid-content{
    background-color:#91C788;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
   position:absolute;
   bottom:0;
   width:100%;
}


.footer-grid-content img{
    height:30px;
    width:30px;

}
.navbar-item-login:hover {
    background-color:#DDFFBC;
}
.push-elements{
    display: flex;
    flex:0 0 auto;
    margin: 0 auto;
    flex-direction: column;
    
}
.input[type=button],input[type = submit]{
    background-color: #52734D;
}
.input[type=button],input[type = submit]:hover{
    background-color: #DDFFBC;
}
.center-header{
    margin: 0 auto;
}
.center-form{
    margin: 0 auto;
}
.center-p{
    margin: 0 auto;
}
.body-form{
    background-color: #FEFFDE;
    height: 100%;
    min-height: 100%;
    margin:0;
    padding:0;
}
.shopping-basket{
    display: flex;
    flex:0 0 auto;
    flex-direction: column;
    
}
.basket-item{
    margin: 0 auto;
}
.shopping-basket-total{
    margin:0 auto;
}
.shopping-basket-actions{
    margin: 0 auto;
}
.shopping-basket button{
    background-color: #52734D;

}
.shopping-basket button:hover{
    background-color:#DDFFBC;
}




